<template>
	<v-expansion-panel popout>
		<v-expansion-panel-content hide-actions v-for="(user, i) in users" :key="i" style="margin-bottom:3px;">
			<v-layout align-center row spacer slot="header" fill-height>
				<v-flex xs4 sm2 md1>
					<v-avatar size="36px" slot="activator">
						<img :src="`https://randomuser.me/api/portraits/men/${user.id}.jpg`" alt="">
					</v-avatar>
				</v-flex>
				<v-flex sm5 md3 hidden-xs-only>
					<strong v-html="user.username"></strong>
					<!--<span class="grey&#45;&#45;text" v-if="user.total"> ({{ user.total }})</span>-->
				</v-flex>
				<v-flex no-wrap xs5 sm3>
					<v-chip
							label
							small
							:color="`lighten-4`"
							class="ml-0"
							v-if="user.email"
					>{{ user.email }}
					</v-chip>
					<!--<strong v-html="user.email"></strong>-->
				</v-flex>
				<v-flex
						class="grey--text"
						ellipsis
						hidden-sm-and-down
						v-if="user.notes"
				>
					{{ user.notes }}
				</v-flex>
			</v-layout>
			<v-card>
				<v-divider></v-divider>
				<v-alert outline color="success" dismissible icon="check_circle" value="user.new" v-if="user.new" @click="user.new = false">
					This is a success alert.
				</v-alert>
				<v-card-text v-text="user.notes"></v-card-text>
			</v-card>
		</v-expansion-panel-content>
	</v-expansion-panel>
</template>
<script>
	export default {
		data() {
			return {
				drawer: true,
				users: [
					{
						id: 1,
						username: "Tom",
						first_name: "Tom",
						last_name: "Lee",
						email: "email@email.email",
						notes: "Some sort of a sentence about a note",
					},
				]
			};
		},
		created() {
			this.fetchUsers();
		},
		methods: {
			fetchUsers(page_url) {
				let vm = this;
				page_url = 'https://api.trito.lt/api/users';
				fetch(page_url)
					.then(res => res.json())
					.then(res => {
						this.users = res.data;
					})
					.catch(err => console.log(err));
			},
		}
	};
</script>
