<style scoped>
</style>
<template>
	<v-layout wrap class="grey darken-3">
		<v-toolbar dense class="grey darken-3">
			<v-toolbar-title>Messages</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat icon color="green">
					<v-icon>cached</v-icon>
				</v-btn>
			</v-toolbar-items>
		</v-toolbar>
		<v-flex xs3>
			<v-card class="grey darken-2">
				<v-list class="grey darken-2">
					<template v-for="(user, index) in users">
						<v-divider v-if="index !== 0"></v-divider>
						<v-list-tile avatar @click="">
							<v-list-tile-avatar>
								<v-avatar size="48px" slot="activator">
									<img :src="`https://randomuser.me/api/portraits/men/${user.id}.jpg`" alt="">
								</v-avatar>
							</v-list-tile-avatar>
							<v-subheader>{{ user.username }}</v-subheader>
							<v-list-tile-title v-html="user.first_name + ' ' +user.last_name"></v-list-tile-title>
						</v-list-tile>
					</template>
					<v-divider v-if="index !== 0"></v-divider>
				</v-list>
			</v-card>
		</v-flex>
		<v-flex xs9 class="grey darken-1 msg_content">
			<v-card>
				<v-flex xs12>
					<div style="min-height:150px;">
						<v-list class="grey darken-2">
							<v-list-tile avatar @click="">
								<v-list-tile-avatar>
									<v-avatar size="48px" slot="activator">
										<img :src="`https://randomuser.me/api/portraits/men/1.jpg`" alt="">
									</v-avatar>
								</v-list-tile-avatar>
								<v-flex no-wrap xs1 sm1>
									[18:20:01]
								</v-flex>
								<v-flex hidden-sm-and-down>
									<v-list-tile avatar @click="">
										I need some placeholder content!!!
									</v-list-tile>
								</v-flex>
							</v-list-tile>
							<v-divider></v-divider>
							<v-list-tile avatar @click="">
								<v-list-tile-avatar>
									<v-avatar size="48px" slot="activator">
										<img :src="`https://randomuser.me/api/portraits/men/1.jpg`" alt="">
									</v-avatar>
								</v-list-tile-avatar>
								<v-flex no-wrap xs1 sm1>
									[18:20:33]
								</v-flex>
								<v-flex hidden-sm-and-down>
									<v-list-tile avatar @click="">
										something more unique
									</v-list-tile>
								</v-flex>
							</v-list-tile>
							<v-divider></v-divider>
							<v-list-tile avatar @click="">
								<v-list-tile-avatar>
									<v-avatar size="48px" slot="activator">
										<img :src="`https://randomuser.me/api/portraits/men/1.jpg`" alt="">
									</v-avatar>
								</v-list-tile-avatar>
								<v-flex no-wrap xs1 sm1>
									[18:20:58]
								</v-flex>
								<v-flex hidden-sm-and-down>
									<v-list-tile avatar @click="">
										Why unique, when you can do entertaining???
									</v-list-tile>
								</v-flex>
							</v-list-tile>
							<v-divider></v-divider>
							<v-list-tile avatar @click="">
								<v-list-tile-avatar>
									<v-avatar size="48px" slot="activator">
										<img :src="`https://randomuser.me/api/portraits/men/1.jpg`" alt="">
									</v-avatar>
								</v-list-tile-avatar>
								<v-flex no-wrap xs1 sm1>
									[18:20:58]
								</v-flex>
								<v-flex hidden-sm-and-down>
									<v-list-tile avatar @click="">
										"Something more entertaining"
									</v-list-tile>
								</v-flex>
							</v-list-tile>
							<v-divider></v-divider>
							<v-divider></v-divider>
						</v-list>
					</div>
					<v-divider></v-divider>
					<v-text-field
							style="padding: 15px 0 0 0 !important;"
							class="grey darken-2"
							label="Type your message here..."
							rows="1"
							max="255" counter full-width multi-line single-line auto-grow
					></v-text-field>
				</v-flex>
			</v-card>
		</v-flex>
	</v-layout>
</template>
<script>
	import VDivider from "vuetify/src/components/VDivider/VDivider";

	export default {
		components: {VDivider},
		data() {
			return {
				users: []
			};
		},
		created() {
			this.fetchUsers();
		},
		methods: {
			fetchUsers(page_url) {
				let vm = this;
				page_url = 'https://api.trito.lt/api/users';
				fetch(page_url)
					.then(res => res.json())
					.then(res => {
						this.users = res.data;
					})
					.catch(err => console.log(err));
			},
		}
	};
</script>