<template>
	<v-tabs icons-and-text centered style="width:100%;">
		<v-tab href="#tab-1">
			Recents
			<v-icon>phone</v-icon>
		</v-tab>
		<!-- <v-tabs-slider color="yellow"></v-tabs-slider> -->
		<v-tab href="#tab-2">
			Favorites
			<v-icon>favorite</v-icon>
		</v-tab>
		<v-tab href="#tab-3">
			Colour
			<v-icon>palette</v-icon>
		</v-tab>
		<v-tab-item v-for="i in 2" :key="i" :id="'tab-' + i">
			<v-card flat>
				<v-card-text>{{ text }}</v-card-text>
			</v-card>
		</v-tab-item>
		<v-tab-item :id="'tab-3'">
			<v-card class="e4">
				<v-card-media height="300px" :style="{ background: `rgb(${red}, ${green}, ${blue}, ${opacity})` }"></v-card-media>
				<v-card-text>
					<!-- <v-container fluid grid-list-md> -->
					<v-layout row wrap>
						<!-- Red -->
						<v-flex xs9>
							<v-slider label="R" :max="255" v-model="red"></v-slider>
						</v-flex>
						<v-flex xs3>
							<v-text-field v-model="red" type="number"></v-text-field>
						</v-flex>

						<!-- Green -->
						<v-flex xs9>
							<v-slider label="G" :max="255" v-model="green"></v-slider>
						</v-flex>
						<v-flex xs3>
							<v-text-field v-model="green" type="number"></v-text-field>
						</v-flex>

						<!-- Blue -->
						<v-flex xs9>
							<v-slider label="B" :max="255" v-model="blue"></v-slider>
						</v-flex>
						<v-flex xs3>
							<v-text-field v-model="blue" type="number"></v-text-field>
						</v-flex>

						<!-- Opacity -->
						<v-flex xs9>
							<v-slider step="0.025" label="opacity" :max="1" v-model="opacity"></v-slider>
						</v-flex>
						<v-flex xs3>
							<v-text-field step="0.025" :max="1" v-model="opacity" type="number"></v-text-field>
						</v-flex>
					</v-layout>
					<!-- </v-container> -->
				</v-card-text>
			</v-card>
		</v-tab-item>
	</v-tabs>
</template>
<script>
	export default {
		data() {
			return {
				text: "Lorem ipsum daolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
				red: 64,
				green: 128,
				blue: 0,
				opacity: "#FFFFFF"
			};
		}
	};
</script>
