<template>
	<v-app dark>
		<vutti-toolbar @openChanged="toggleDrawer" :drawer="drawer"></vutti-toolbar>
		<vutti-menu @openChanged="toggleDrawer" :drawer="drawer"></vutti-menu>

		<v-content>
			<v-container fluid>
				<v-layout>
					<router-view></router-view>
				</v-layout>
			</v-container>
		</v-content>
	</v-app>
</template>
<script>
	export default {
		name: "vutti-layout",
		data() {
			return {
				drawer: true
			};
		},
		methods: {
			share($event) {
				window.alert("Share on " + $event.target.innerHTML);
			},
			toggleDrawer() {
				this.drawer = !this.drawer;
			}
		}
	};
</script>
