<template>
	<v-navigation-drawer fixed enable-resize-watcher v-model="drawer" app width="250" class="grey darken-3">
		<v-list class="pa-0">
			<v-list-tile>
				<v-list-tile-action>
					<v-icon color="green">verified_user</v-icon>
				</v-list-tile-action>
				<v-list-tile-content v-if="drawer">
					<v-list-tile-title><h2>Vutti</h2></v-list-tile-title>
				</v-list-tile-content>
				<v-list-tile-action>
					<v-btn icon @click.stop="toggleDrawer">
						<v-icon v-html="drawer ? 'chevron_left' : 'chevron_right'"></v-icon>
					</v-btn>
				</v-list-tile-action>
			</v-list-tile>
		</v-list>
		<v-divider></v-divider>
		<v-list dense bottom>
			<v-list-tile v-for="item in items" :key="item.text" :to="item.link" active-class="grey darken-2">
				<v-list-tile-action>
					<v-icon>{{ item.icon }}</v-icon>
				</v-list-tile-action>
				<v-list-tile-content>
					<v-list-tile-title>
						{{ item.text }}
					</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-divider></v-divider>
			<v-subheader class="mt-0">Online people</v-subheader>
			<v-divider></v-divider>
			<v-list>
				<v-list-tile v-for="item in items2" :key="item.text" avatar>
					<v-list-tile-avatar>
						<img :src="`https://randomuser.me/api/portraits/men/${item.picture}.jpg`" alt="">
					</v-list-tile-avatar>
					<v-list-tile-title v-text="item.text"></v-list-tile-title>
				</v-list-tile>
			</v-list>
			<v-divider></v-divider>
			<v-list-tile class="mt-2">
				<v-list-tile-action>
					<v-icon color="grey darken-1">add_circle_outline</v-icon>
				</v-list-tile-action>
				<v-list-tile-title class="">Do something interesting, when developed</v-list-tile-title>
			</v-list-tile>
			<v-list-tile @click.native.stop="dialogOpen">
				<v-list-tile-action>
					<v-icon color="grey darken-1">settings</v-icon>
				</v-list-tile-action>
				<v-list-tile-title class="">Manage system</v-list-tile-title>
				<v-dialog v-model="dialog">
					<v-card>
						<v-card-title class="headline">Use Google's location service?</v-card-title>
						<v-card-text>
							Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn @click.native="dialogClose">Disagree</v-btn>
							<v-btn @click.native="dialogClose">Agree</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-list-tile>
		</v-list>
		<v-divider></v-divider>
		<v-list dense bottom>
			<v-list-tile class="mt-0" href="https://api.trito.lt/">
				<v-list-tile-action>
					<v-icon color="grey darken-1">build</v-icon>
				</v-list-tile-action>
				<v-list-tile-title class="">API Server</v-list-tile-title>
			</v-list-tile>
		</v-list>
	</v-navigation-drawer>
</template>
<style>
	#e3,
	#e3 .container {
		min-height: 700px;
		height: 100%;
		overflow: hidden;
		z-index: 0;
	}

	#e3 .input-group--focused .input-group__append-icon {
		color: inherit !important;
	}
</style>

<script>
	export default {
		name: "vutti-menu",
		props: ["drawer"],
		props: {
			drawer: {
				type: Boolean,
				default: true,
				required: true
			}
		},
		data() {
			return {
				dialog: false,
				items: [
					{link: "/Dashboard", icon: "dashboard", text: "Dashboard"},
					{link: "/Users", icon: "account_box", text: "Users"},
					{link: "/Storage", icon: "storage", text: "Storage"},
					{link: "/Messages", icon: "speaker_notes", text: "Messages"},
					{link: "/Notification", icon: "featured_play_list", text: "Notifications"},
					{link: "/Settings", icon: "settings", text: "Settings"},
				],
				items2: [
					{picture: 1, text: "Our"},
					{picture: 2, text: "Glorious"},
					{picture: 3, text: "Leader"}
				]
			};
		},
		methods: {
			share($event) {
				window.alert("Share on " + $event.target.innerHTML);
			},
			toggleDrawer() {
				this.$emit("openChanged", this.drawer);
			},
			dialogOpen() {
				this.dialog = !this.dialog;
			}
		}
	};
</script>
