<template>
	<v-toolbar color="grey darken-3" dense fixed app>
		<v-toolbar-title v-if="!drawer" style="width: 250px" class="ml-0 pl-3">
			<v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
		</v-toolbar-title>
		<v-layout style="max-width: 650px" class="ml-0 pl-3">
			<v-text-field placeholder="Search..." single-line append-icon="search" :append-icon-cb="() => {}" class="white--text" hide-details>
			</v-text-field>
		</v-layout>
		<v-spacer></v-spacer>
		<v-menu bottom left>
			<v-btn icon slot="activator">
				<v-avatar class="white" size="32">
					<v-icon color="primary">person</v-icon>
				</v-avatar>
			</v-btn>
			<v-list class="pa-0">
				<v-list-tile avatar>
					<v-list-tile-avatar>
						<v-avatar class="primary" size="48px">
							<v-icon>person</v-icon>
						</v-avatar>
					</v-list-tile-avatar>
					<v-list-tile-content>
						<v-list-tile-title>The man</v-list-tile-title>
						<v-list-tile-sub-title>Nick Offerman</v-list-tile-sub-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-divider></v-divider>

				<v-list-tile key="profile" @click="">
					<v-list-tile-action>
						<v-icon>person</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>My Profile</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
				<v-divider></v-divider>
				<v-list-tile key="lock_open" @click="">
					<v-list-tile-action>
						<v-icon>lock_open</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>Logout</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-menu>
	</v-toolbar>
</template>

<script>
	export default {
		name: "vutti-toolbar",
		// props: ['drawer'],
		props: {
			drawer: {
				type: Boolean,
				default: true,
				required: true
			}
			//			dialog: {
			//				type: Boolean,
			//				default: false,
			//				required: false
			//			}
		},
		data() {
			return {};
		},
		methods: {
			toggleDrawer() {
				this.$emit("openChanged", this.drawer);
			},
			dialogOpen() {
				this.dialog = true;
			},
			dialogClose() {
				this.dialog = false;
			}
		}
	};
</script>
